<header>
	<h1>Flashcards for Coders</h1>

</header>

<div id="preview-card-region"></div>
<!-- 
<div class="preview">
	<button type="button" class="btn btn-primary btn-big"><i class="flai flai-play-o"></i> Play</button>
	<div class="detail">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.</p>
	</div>
	<div class="code">
		<code>
		var play = this.deck();
		</code>
	</div>
</div>
-->

<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<h2>Take Challenges</h2>
				<p>Enhance your knowledge and learn new skills. Flashcode is a great way to learn. Each card-sized scenario will help you learn and remember coding concepts</p>
			</div>
			<div class="col-xs-12 col-sm-4">
				<h2>Build Your Own</h2>
				<p>Trying to teach someone code? Or perhaps you’re taking a class. Logging your concepts in Flashcode forces you to truly learn and lets you come back to your cards anytime!</p>
			</div>
			<div class="col-xs-12 col-sm-4">
				<h2>Review Your Decks</h2>
				<p>Keep your skills sharp! Go through the decks you’ve completed and make sure you have key concepts memorized. Do this every day and you’ll be a master in no time!</p>
			</div>
		</div>
	</div>
	<div class="social">
		<h5>
			Created in ~48hrs by <a href="https://www.pathwright.com">Team Pathwright</a> for the 2015 <a href="http://www.staticshowdown.com/">Static Showdown</a> 
		</h5>
	</div>
</section>
