<header>
  <p>Creating an account is just the same as signing in. Don't worry, we won't spam your email address.</p>
  <div class="alert alert-danger" rv-show="state:error">{ state:error }</div>
</header>
<div class="form-container">
  <div data-row-span="2">
      <div data-field-span="2">
          <label>email</label>
          <input type="email" placeholder="me@me.me" autocapitalize="off" required rv-value="model:email">
      </div>
  </div>
  <div data-row-span="2">
      <div data-field-span="2">
          <label>password</label>
          <input type="password" placholder="supersecrentpassword" rv-value="model:password" required>
      </div>
  </div>
</div>
<footer>
  <button type="submit" class="btn btn-lg btn-primary btn-block">
    <i class="flai-play-o"></i>
    Go
  </button>
</footer>
